<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for the edit Operation-->
<div class="container"></div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 id = "title"><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Survey Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Survey Name" name="Name" value="<%= Survey.Name %>" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Survey Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextArea"  placeholder="enter the Survey Description" name="Description" required><%= Survey.Description %></textarea>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Survey Active</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter if the survey is active or not" name="Active" value="<%= Survey.Active %>" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>
