<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Survey List</title>
</head>
<body>
  <h1>Survey List</h1>
  <table class = "table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> Made on </th>
            <th> Action </th>
        </tr>
        
    </thead>
    <tbody>

        <% Surveylist.forEach((survey) => { %>
            <tr>
                <td><%= survey.title %></td>
                <td><%= survey.description %></td>
                <td><%= survey.active %></td>
                <td>
                    <a href="/survey/edit/<%= survey._id %>"> Edit</a> 
                    <a href="/survey/delete/<%= survey._id %>" onclick = "return confirm('Are you sure')"> Delete</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
  </table>

  <h1>Add Survey</h1>
  <a href = "/add" class = "btn btn-primary" role = "button">
      <i class = "fas fa-plus-circle"></i> Add Survey
  </a>

</body>
</html>